html, body {
    height: 100%;
    width: 100%;
    }

body {
    background-color: #2F9EFF;
    background: linear-gradient(to bottom right, #2f9eff 0%, #7921a4 100%);
    background-attachment: fixed;

    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
    }

form#create-expense-form {
    width: 60%;
    margin: auto;
}
